/* FlashCardSetTable.css */

.table-container {
  margin: 4rem auto; /* Center the table horizontally and add top/bottom margin */
  max-width: 800px;
}

.outer-container {
  border: 1px solid #ddd; /* Add border style */
  border-radius: 5px; /* Optional: Add border radius */
  overflow: hidden; /* Optional: Hide overflow */
}

.flashcard-sets-table {
  width: 100%;
  border-collapse: collapse;
}

.flashcard-sets-table th {
  padding: 22px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.flashcard-sets-table td {
  padding: 22px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.flashcard-sets-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  padding: 22px;
  border-bottom: 1px solid #ddd;
  margin: 1rem;
  text-align: center;
}

.topic-header {
  padding-right: 2rem;
}

.flashcard-sets-table tr:hover {
  background-color: white;
  cursor: pointer;
}

.flashcard-sets-table button {
  padding: 8px 12px;
  border: solid black 1px;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.flashcard-sets-table button:hover {
  background-color: #ff6600;
  color: black;
}

/* Modal styles */
.modal {
  position: fixed; /* Position the modal relative to the viewport */
  top: 50%; /* Center the modal vertically */
  left: 50%; /* Center the modal horizontally */
  transform: translate(-50%, -50%); /* Center the modal precisely */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  width: 70%; /* Set the width of the modal */
  max-width: 600px; /* Set maximum width */
  padding: 20px; /* Add padding */
  border-radius: 5px; /* Add border radius */
  z-index: 1000; /* Ensure modal appears on top of other elements */
}

.modal-content {
  background-color: #fff; /* Set background color of modal content */
  padding: 20px; /* Add padding */
  border-radius: 5px; /* Add border radius */
}

.close {
  position: absolute; /* Position the close button */
  top: 0.5rem; /* Set top position */
  right: 1rem; /* Set right position */
  cursor: pointer; /* Change cursor to pointer */
  font-size: xx-large;
  margin-top: -0.5rem;
  padding: 0.5rem;
}

.flashcard {
  text-align: center;
  margin-left: 7rem;
  margin-bottom: auto;
  padding-bottom: 4rem;
  padding-right: 6rem;
}

.flashcard-question {
  background-color: #f0f0f0;

  border-radius: 5px;
}

.flashcard-answer {
  background-color: #e0e0e0;
  padding: 10px;
  padding-bottom: -2rem;
  border-radius: 5px;
  margin-top: 20px;
}

h2 {
  text-align: center;
  padding: 2rem;
  text-transform: capitalize;
}

.navigation-buttons {
  border-radius: 5px;
  margin-top: 1rem;
  margin-left: 3rem;
}

.navigation-buttons button {
  font-weight: bold;
  padding: 5px 10px; /* Adjust padding as needed */
  background-color: white; /* Set background color */
  color: black; /* Set text color */
  border: none; /* Remove border */
  cursor: pointer; /* Add pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.navigation-buttons button:hover {
  background-color: #ff6600; /* Darker background color on hover */
}

.delete-button {
  background-color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: red; /* Color of the X */
}

.delete-button:hover {
  background-color: orange; /* Hover background color */
  color: white; /* Hover text color */
}
