.flashcard {
  width: 300px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 40px;
  margin-top: 16rem;
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.flashcard:hover {
  transform: scale(1.05);
}

.question {
  font-weight: bold;
  margin-bottom: 10px;
}

.answer {
  display: block;
  text-align: center;
  margin: 2rem;
}

.flashcard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
