/* .signup .container {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  padding: 30rem 1rem;
  background-color: #6b7280;
} */

.signup .left {
  text-align: center;
}

.signup img {
  width: 20rem;
  border-radius: 15px;

  padding: 4rem;
}

.signup img:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

.signup .right {
  margin: 1rem;
}

.hero-timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 12px;
  margin-top: 1rem;
  margin-right: 2rem;
  width: 50%;
  max-width: 500px; /* Set a maximum width if necessary */
  height: auto; /* Adjust the height as needed */
  padding: 1rem; /* Add padding to space out the content */
}

.hero-middle-group-container {
  display: flex;
  justify-content: space-between; /* To evenly distribute the HeroMiddleGroup components */
  margin-top: 2rem;
  margin-right: -20rem; /* Add margin-top for spacing */
}

.hero-middle-card {
  margin: 4rem;
}

.hero-timer-left {
  text-align: center;
  order: 2;
  margin: 4rem;
}

.hero-timer-img {
  width: 200px;
  border-radius: 15px;
}

.hero-timer-img:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

.bottom-text {
  margin-left: 2rem;
  margin-right: 2rem;
}
.hero-timer-right {
  order: 1;
}

.hero-timer-right p {
  margin: 2rem 0;
}

.images-container {
  display: flex;
}

.hero-middle-group {
  margin: -10rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 4rem;
}

.hero-timer-img {
  width: 100px; /* Adjust the width of the images as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 64rem; /* Add margin between images */
}
@media screen and (max-width: 940px) {
  .signup .container {
    grid-template-columns: 1fr;
  }
}
