.hero .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* margin: 4rem auto; */
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: -4rem;
  padding-bottom: 2rem;
}

/* .footer-padding {
  padding-bottom: 1rem;
} */
.hero .left {
  padding: 1rem;
}

.hero h1 {
  padding: 1rem 0;
}

.hero .input-container {
  padding: 1rem 0;
}

.hero .right {
  padding: 1rem;
}

.hero .img-container {
  width: 100%;
  display: flex;
}

.hero img {
  max-width: 100%;

  margin: auto;
  margin-left: 3rem;
}

@media screen and (max-width: 940px) {
  .hero .container {
    grid-template-columns: 1fr;
    margin: 1rem 0;
  }
}

@media (max-width: 910px) {
  .left {
    width: 90%;
  }
  .container img {
    margin-left: 8rem;
  }
}
@media (max-width: 895px) {
  .left {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .left {
    width: 60%;
  }
  .container img {
    margin-left: 5rem;
  }
}
@media (max-width: 725px) {
  .left {
    width: 50%;
    margin-left: 4rem;
  }
  .container img {
    margin-left: 4rem;
    width: 50%;
  }
}

@media (max-width: 665px) {
  .left {
    width: 50%;
    margin-left: 2rem;
  }
  .container img {
    margin-left: 4rem;
    width: 40%;
  }
}

@media (max-width: 630px) {
  .left {
    width: 50%;
    margin-left: 1rem;
  }
  .container img {
    margin-left: 4rem;
    width: 35%;
  }
}

@media (max-width: 615px) {
  .left {
    width: 45%;
    margin-left: 1rem;
  }
  .container img {
    margin-left: 4rem;
    width: 35%;
  }
}

@media (max-width: 550px) {
  .left {
    width: 42%;
    margin-left: 1rem;
  }
  .container img {
    margin-left: 4rem;
    width: 33%;
  }
}

@media (max-width: 515px) {
  .left {
    width: 40%;
    margin-left: 1rem;
  }
  .container img {
    margin-left: 3rem;
    width: 30%;
  }
}
