/* auth.css */

.auth-container {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 10rem;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-title {
  text-align: center;
  margin-bottom: 20px;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-form-group {
  margin-bottom: 20px;
}

.auth-form-group label {
  font-weight: bold;
}

.auth-form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-form-group button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.auth-form-group button:hover {
  background-color: #0056b3;
}
