.margin-space {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 4rem;
  margin-top: 6rem;
  padding: 8rem;
  padding-bottom: 4rem;
  /* background: linear-gradient(to bottom right, #6b7280, #ff6600); */
  /* background: linear-gradient(to top right, white, #6b7280); */
  background: linear-gradient(to top left, #6b7280, white);
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
  gap: 10px;
}

.hero-gradient {
  background: linear-gradient(to top left, white, #ff6600);
  /* background: linear-gradient(to top left, white, #6b7280); */
  background: linear-gradient(to top left, #6b7280, white);

  padding-top: 2rem;
}

/* .splash-container {
  max-width: 600px;
  margin: 0 auto;
} */

/* @media screen and (max-width: 1240px) {
  .margin-space {
    margin: 2rem;
    margin-top: -1rem;
    margin-bottom: 6rem;
    padding: 2rem;
  }
} */



@media (max-width: 910px) {
  .margin-space {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 18rem;
    gap: 1px;
  }
  .hero-gradient {
    display: grid;
    grid-template-columns: 1fr;
  }
}